*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #171617;
  margin: 0;
  padding: 0;

}

html, body, #content, #app {
  width: 100%;
  height: 100%;
}

.logo {
  color: #FC574B;
	font-size: 3.0rem;
  position: absolute;
  top: 20px;
  left: 75px;
  z-index: 9999;
}
.year {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  z-index: 9999;
  font-size: 3.3em;
  text-shadow: #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}

.lng-lat {
  position: absolute;
  bottom: -12px;
  left: 5px;
  color: white;
  z-index: 9999;
  font-size: 1.0em;
  background-color: rgba(0,0,0,0.5);
}

.playPauseButton {
  color: #FFF;
  background-color: #FC574B;
  position: absolute;
  left: 10px;
  bottom: 10px;
}



.resumeButton {
  color: #FFF;
  position: absolute;
  left: 75px;
  bottom: 20px;
}

.mapboxgl-ctrl-compass {
  display: none !important;
}
